# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.envrc

# PyCharm
.idea/

# Docker
*.log
*.pid
*.bak
*.swp
docker-compose.override.yml

# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg
.dags/
.plugins/

# Arquivos sensíveis
*.key
*.pem
*.crt
